@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

* {
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
     box-sizing: border-box;
     text-decoration: none;
     list-style: none;
     border: none;
     scroll-behavior: smooth;
}

:root {
     --text-color: #eded;

     --header-height: 4rem;

     --bg-color: #081b29;
     --black-color: #081b29;

     --main-color: #00abf0;
     --black-color-light: #00abf0;

     --second-bg-color: #112e42;
     --black-color-lighten: #112e42;
     --white-color: #fff;
     --body-color: hsl(220, 100%, 97%);

     --normal-font-size: .998rem;
     --font-regular: 400;
     --font-semi-bold: 600;

     --z-tooltip: 10;
     --z-fixed: 100;
}

html {
     font-size: 62.5%;
     overflow-x: hidden;
}

body {
     background: var(--bg-color);
     color: var(--text-color);
}


/* --------------------------- NAVBAR STARTTEDDDD --------------------------- */
/* .header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 2rem 9%;
     background: var(--bg-color);
     box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
     z-index: 100;
     transition: .3s;
}

ul {
     list-style: none;
}

a {
     text-decoration: none;
}

.container-nav {
     max-width: 1120px;
     margin-inline: 1.5rem;
}

.nav {
     height: 3.5rem;

} */





/* .header.sticky {
     background: var(--bg-color);
} */

/* .nav__logo,
.nav__burger,
.nav__close {
     color: var(--text-color);
     animation-delay: .6s;
}

.nav__data {
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.nav__logo {
     font-size: 2.5rem;
     display: inline-block;
     align-items: center;
     column-gap: .25rem;
     font-weight: 600;
}

.nav__logo i {
     font-weight: initial;
     font-size: 2.5rem;
}

.nav__toggle {
     position: relative;
     width: 32px;
     height: 32px; */
/* background-color: gray; */
/* }

.nav__burger,
.nav__close {
     position: absolute;
     width: max-content;
     height: max-content;
     inset: 0;
     font-size: 2.5rem;
     cursor: pointer;
     transition: opacity .1s, transform .4s;
     margin: auto;     
}

.nav__close {
     opacity: 0;
}


.nav__link {
     color: var(--text-color);
     background-color: var(--second-bg-color);
}


.navbar {
     animation-delay: .8s;
}


.navbar ul li .game {
     display: inline-block;
}

.navbar ul li {
     display: inline;
}

.navbar .dropdown-link {
     padding: .5rem .5rem .5rem 2rem;
     color: var(--text-color);
     background-color: #3147565a;
     display: flex;
     align-items: center;
     column-gap: .5rem;
     transition: background-color .3s;

}

.navbar .dropdown-link:hover {
     background-color: var(--bg-color);
}

.dropdown-menu {
     max-height: 0;
     overflow: hidden;
     transition: max-height .4s ease-out;
}

.dropdown-items:hover .dropdown-menu {
     max-height: 1000px;
     transition: max-height .4s ease-in;
}

.navbar p {
     font-size: 1.7rem;
     padding: 1rem;
     display: inline;
     color: var(--text-color);
     font-weight: 500;
     cursor: pointer; */
/* transition: .3s; */
/* }

.navbar a {
     font-size: 1.7rem;
     color: var(--text-color);
     font-weight: 500;
     margin-left: 3.5rem;
}

.navbar a:hover,
.navbar a.active {
     color: var(--main-color);
}

.navbar .game:hover p {
     color: var(--main-color);
}

#menu-icon {
     font-size: 3.6rem;
     color: var(--text-color);
     cursor: pointer;
     display: none;
} */

ul {
     list-style: none;
}

.nav-container {
     max-width: 1120px;
     margin-inline: 1.5rem;
}

.header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background: var(--black-color);
     box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
     z-index: var(--z-fixed);
     transition: .3s;
}

.nav {
     height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
     color: var(--white-color);
     /* animation-delay: .6s; */
}

.nav__data {
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

header ul li {
     font-size: 1.25rem;
}

.nav__logo {
     font-size: 2.5rem;
     display: inline-flex;
     align-items: center;
     column-gap: .25rem;
     font-weight: var(--font-semi-bold);
}

.nav__logo i {
     font-weight: initial;
     font-size: 3rem;
}

.nav__toggle {
     position: relative;
     width: 32px;
     height: 32px;
     /* background-color: gray; */
}

.nav__burger,
.nav__close {
     position: absolute;
     width: max-content;
     height: max-content;
     inset: 0;
     margin: auto;
     font-size: 2.5rem;
     cursor: pointer;
     transition: opacity .1s, transform .4s;
}

.nav__close {
     opacity: 0;
}


/* NAVIGATION FOR MOBILE */
@media screen and (max-width: 1117px) {
     .nav__menu {
          position: absolute;
          left: 0;
          top: 2.5rem;
          width: 100%;
          height: calc(100vh - 3.5rem);
          overflow: auto;
          pointer-events: none;
          opacity: 0;
          transition: top .4s opacity .3s;
     }

     .nav__menu::-webkit-scrollbar {
          width: 0;
     }

     .nav__list {
          background-color: var(--black-color);
          padding-top: 1rem;
     }
}

.nav__link {
     cursor: pointer;
     color: var(--white-color);
     background-color: var(--black-color);
     font-weight: var(--font-semi-bold);
     padding: 1.25rem 1.5rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     transition: background-color .3s;
}

.nav__link:hover {
     background-color: var(--black-color-light);
}

.show-menu {
     opacity: 1;
     top: 3.5rem;
     pointer-events: initial;
}

.show-icon .nav__burger {
     opacity: 0;
     transform: rotate(90deg);
}

.show-icon .nav__close {
     opacity: 1;
     transform: rotate(90deg);
}

.dropdown__item {
     cursor: pointer;
}

.dropdown__arrow {
     font-size: 1.25rem;
     font-weight: initial;
     transition: transform .4s;
}

.dropdown__link,
.dropdown__sublink {
     padding: 1.25rem 1.25rem 1.25rem 2.5rem;
     color: var(--white-color);
     background-color: var(--black-color-lighten);
     display: flex;
     align-items: center;
     column-gap: .5rem;
     font-weight: var(--font-semi-bold);
     transition: background-color .3s;
}

.dropdown__link i,
.dropdown__sublink i {
     font-size: 1.25rem;
     font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
     background-color: var(--black-color);
}

.dropdown__menu,
.dropdown__submenu {
     max-height: 0;
     overflow: hidden;
     transition: max-height .4s ease-out;
}

.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover .dropdown__submenu {
     max-height: 1000px;
     transition: max-height 1s ease-in;
}

.dropdown__item:hover .dropdown__arrow,
.dropdown__link:hover .dropdown__add {
     transform: rotate(180deg);
     transition: transform 1s;
}


.dropdown__add {
     margin-left: auto;
}

.dropdown__sublink {
     background-color: var(--black-color-lighten);
}

@media screen and (max-width: 340px) {
     .nav-container {
          margin-inline: 1rem;
     }

     .nav__link {
          padding-inline: 1rem;
     }
}

@media screen and (min-width: 1118px) {
     .nav-container {
          margin-inline: auto;
     }

     .nav {
          height: calc(var(--header-height) + 2rem);
          display: flex;
          justify-content: space-between;
     }

     .nav__toggle {
          display: none;
     }

     .nav__list {
          height: 100%;
          display: flex;
          column-gap: 3rem;
     }

     .nav__link {
          height: 100%;
          padding: 0;
          justify-content: initial;
          column-gap: .25rem;
     }

     .nav__link:hover {
          background-color: transparent;
     }

     .dropdown__item,
     .dropdown__subitem {
          position: relative;
     }

     .dropdown__menu {
          width: 12rem;
     }

     .dropdown__menu,
     .dropdown__submenu {
          max-height: initial;
          overflow: initial;
          position: absolute;
          left: 0;
          top: 6rem;
          opacity: 0;
          pointer-events: none;
          transition: opacity .3s, top .3s;
     }

     .dropdown__link,
     .dropdown__sublink {
          padding-inline: 1rem 3.5rem;
     }

     .dropdown__subitem .dropdown__link {
          padding-inline: 1rem;
     }

     .dropdown__submenu {
          position: absolute;
          width: 10rem;
          left: 100%;
          top: .5rem;
     }

     .dropdown__item:hover .dropdown__menu {
          opacity: 1;
          top: 5.5rem;
          pointer-events: initial;
          transition: top .3s;
     }

     .dropdown__subitem:hover .dropdown__submenu {
          opacity: 1;
          top: 0;
          pointer-events: initial;
          transition: top .3s;
     }
}

/* ----------------------------- NAVBAR ENDEDDDD ---------------------------- */



/* -------------------------------------------------------------------------- */
/*                           BAGIAN HOMEEE STARTEDDD                          */
/* -------------------------------------------------------------------------- */
section {
     min-height: 100vh;
     padding: 10rem 9% 2rem;
}

.home {
     display: flex;
     align-items: center;
     padding: 0 9%;
     background: url('./assets/home.jpg') no-repeat;
     background-size: cover;
     background-position: center;
}

.home-content {
     max-width: 60rem;
     z-index: 99;
}

.home-content h1 {
     font-size: 4.6rem;
     font-weight: 700;
     line-height: 1.3;
}

.home .text-animate.webdev {
     animation-delay: 1.2s;
}

.home-content h1 span {
     color: var(--text-color);
}

.home-content .text-animate {
     position: relative;
     width: 32.8rem;
}

.home-content .text-animate h3 {
     /* bagian teks asli yang dibelakang gak ada colornya cuma ada stroke */

     font-size: 3.2rem;
     font-weight: 700;
     color: transparent;
     -webkit-text-stroke: .7px var(--main-color);
     /* (yang diatas namanya text stroke yang ada wedkitnya )  */
     /* bagian teks asli yang dibelakang gak ada colornya cuma ada stroke ended */

     /* bagian kedua teks biru yang bergerak!! */
     background-image: linear-gradient(var(--main-color), var(--main-color));
     background-repeat: no-repeat;
     -webkit-background-clip: text;
     background-position: -33rem 0;
     animation: homeBgText 6s linear infinite;
     animation-delay: 2s;
     /* bagian kedua teks biru yang bergerak!! endedd*/
}


/* ini bagian garis vertikalnya garis lurus */
.home-content .text-animate h3::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 0;
     height: 100%;
     border-right: 2px solid var(--main-color);
     z-index: -1;
     animation: homeCursorText 6s linear infinite;
     animation-delay: 2s;
}

/* ini bagian garis vertikalnya garis lurus Ended*/

.home-content p {
     font-size: 1.6rem;
     margin: 2rem 0 4rem;
}

.home-sci {
     position: absolute;
     bottom: 4rem;
     width: 170px;
     display: flex;
     justify-content: space-between;
     margin-left: 15px;
     animation-delay: 2s;
}

.home-sci a {
     padding: 20px;
     margin: 0 -15px;
     position: relative;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 40px;
     height: 40px;
     background: transparent;
     border: .2rem solid var(--main-color);
     border-radius: 50%;
     font-size: 20px;
     color: var(--main-color);
     z-index: 1;
     overflow: hidden;
     transition: .5s;
}

.home-sci a:hover {
     color: var(--bg-color);
}

.home-sci a::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 0;
     height: 100%;
     background: var(--main-color);
     z-index: -1;
     transition: .5s;
}

.home-sci a:hover::before {
     width: 100%;
}

.home-imgHover {
     position: absolute;
     top: 0;
     right: 0;
     width: 45%;
     height: 100%;
     background: transparent;
     transition: 3s;
}

.home-imgHover:hover {
     background: var(--bg-color);
     opacity: .5;
}

/* BAGIAN HOMEE ENDEDDDD ----------------------------------- */



/*  BAGIAN BTN BAGIAN BTN BAGIAN BTN BAGIAN BTN STARTTEDDD (TOMBOL) START*/
.btn-box {
     position: relative;
     display: flex;
     justify-content: space-between;
     width: 34.5rem;
     height: 5rem;
     margin-top: .5rem;
}

.btn-box .btn {
     position: relative;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 15rem;
     height: 100%;
     background: var(--main-color);
     border: .2rem solid var(--main-color);
     border-radius: .8rem;
     font-size: 1.8rem;
     font-weight: 600;
     letter-spacing: .1rem;
     /* (letterspacing ialah jarak antar teks yg berdekatan) */
     color: var(--bg-color);
     z-index: 1;
     overflow: hidden;
     transition: .5s;

}

.btn-box .btn::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 0;
     height: 100%;
     background: var(--bg-color);
     z-index: -1;
     transition: .5s;
}

.btn-box .btn:hover {
     color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
     background: transparent;
     color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
     color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
     background: var(--main-color);
}

.btn-box .btn:hover::before {
     width: 100%;
}

/*  BAGIAN BTN BAGIAN BTN BAGIAN BTN BAGIAN BTN STARTTEDDD (TOMBOL)  ENDEDDD*/



/* YT DURASI KEEE 21:24  ALHAMDULILAHHH SESI I BERES*/
/* Bismillahirrahmaanirrahiim */


/* BAGIAN ABOUT TENTANG -------------START ABOUT */
.about {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 2rem;
     background: var(--second-bg-color);
     padding-bottom: 6rem;
}

.heading {
     font-size: 5rem;
     margin-bottom: 3rem;
     text-align: center;
}

span {
     color: var(--main-color);
}

.about-img {
     position: relative;
     width: 25rem;
     height: 25rem;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.about-img img {
     width: 90%;
     border-radius: 50%;
     border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) rotate(0);
     width: 100%;
     height: 100%;
     border-radius: 50%;
     border-top: .2rem solid var(--second-bg-color);
     border-left: .2rem solid var(--main-color);
     border-bottom: .2rem solid var(--second-bg-color);
     border-right: .2rem solid var(--main-color);
     animation: BulatPutaran 8s linear infinite;
}

.about-content {
     text-align: center;
}

.about-content h3 {
     font-size: 2.6rem;
}

.about-content p {
     font-size: 1.6rem;
     margin: 2rem 0 3rem;
}

.btn-box.btns {
     display: inline-block;
     width: 15rem;
}

.btn-box.btns a::before {
     background: var(--second-bg-color);
}

/* BAGIAN ABOUT TENTANG ------------- ABOUT ENDEDD*/

/* BAGIAN GALLERY TO STARTTTT _______________________ */

.gallery .container .fillter-buttons .btn.aktif {
     color: #00abf0;
}

.fillter-buttons {
     margin: 2rem;
     text-align: center;
}

.fillter-buttons .btn {
     background: none;
     outline: none;
     border: none;
     cursor: pointer;
     font-size: 2rem;
     font-weight: 600;
     letter-spacing: .4px;
     margin-left: 1.3rem;
     color: var(--text-color);
}

.fillter-buttons .btn:hover {
     color: var(--main-color);
}

.portfolio-gallery {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
     gap: 2rem;
}

.port-box {
     position: relative;
     border-radius: 15px;
     overflow: hidden;
     background: black;
     display: flex;
     grid-template-rows: 1fr auto;
     align-items: center;
     border: 2px solid var(--main-color);
     box-shadow: cyan;
}

.port-image {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     /* ukuran image 672 448 72 px */
     width: 100%;
}

.port-image img {
     width: 100%;
     height: 100%;
     opacity: .5s;
     transition: .5s;
}

.port-content.sekul h3 {
     font-size: 35px;
     color: orange;
     -webkit-text-stroke: #000 1.3px;
}

.port-content.sekul p {
     color: #eaeaea;
}

.port-image.khusus {
     cursor: pointer;
}

.port-image .spesial {
     position: absolute;
}

.port-image h1 {
     margin-bottom: -7rem;
}

.port-image h1,
.spesial {
     margin-top: -2.2rem;
}

.selengkapnya,
h1,
.spesial {
     cursor: pointer;
}

.selengkapnya:hover h1 {
     transform: scale(1.1);
     transition: .5s;
     animation-delay: 0.3s;
}

.selengkapnya:hover .spesial {
     transform: scale(1.1);
     transition: .5s;
     animation-delay: 0.3s;
}


.port-content {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     background: linear-gradient(rgba(0, 0, 0, .1), rgba(115, 0, 255, 0.271));
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     transition: 0.5s;
     padding: 0 2rem;
}

.port-box:hover .port-content {
     opacity: 1;
     animation-delay: 0.3s all;
}

.port-box:hover .port-image img {
     transform: scale(1.1);
     transition: 1s;
     animation-delay: 0.3s;
}

.port-content h3 {
     font-size: 2.7rem;
     font-weight: 700;
}

.port-content p {
     font-size: 13px;
     margin: 5px 0 15px 0;
}

.selengkapnya a{
     text-decoration: none;
     color: #fff;
}


.port-content a {
     background: #fff;
     border-radius: 50%;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     width: 50px;
     height: 50px;
     border: 1px solid var(--second-bg-color);
     outline: 2px solid #fff;
}

.port-content a i {
     font-size: 2rem;
     color: var(--bg-color);
}

.port-content a:hover {
     transform: scale(1.1);
     transition: 0.5s ease-in-out;
}

.port-content a i:hover {
     transform: scale(1.1);
     /* ( yang ini transform scale(1.1)
         jika digunakan di hover maka akan
         seperti di zooom in - out okee ) */
     transition: 0.5s all;
     color: blue;
}


/* GALERY ENDEDDD !!!!!----------------------------------- */






/* Contact STARTTTED====================    ======= */
.contact {
     min-height: auto;
     padding-bottom: 7rem;
}

.contact form {
     max-width: 70rem;
     margin: 0 auto;
     text-align: center;

}

.contact form .input-box {
     position: relative;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

.contact form .input-box .input-field {
     position: relative;
     width: 49%;
     margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
     width: 100%;
     height: 100%;
     padding: 1.5rem;
     font-size: 1.6rem;
     color: var(--text-color);
     background: transparent;
     border-radius: .6rem;
     border: .2rem solid var(--main-color);
}

.contact form .focus {
     position: absolute;
     top: 0;
     left: 0;
     width: 0;
     height: 100%;
     background: var(--second-bg-color);
     border-radius: .6rem;
     z-index: -1;
     transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
     width: 100%;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
     color: var(--text-color);
}

.contact form .textarea-field {
     position: relative;
     margin: .8rem 0 2.7rem;
     display: flex;
}

.contact form .textarea-field textarea {
     resize: none;
}

.contact form .btn-box.btns .send-btn {
     cursor: pointer;
}

/* --------------------------- CONTACT Endeddd!!! --------------------------- */


/* ----------------------------- Footer Startted ---------------------------- */
.footer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     padding: 2rem 9%;
     background: var(--second-bg-color);
}

.footer-text p {
     font-size: 1.6rem;
}

.footer-iconTop a {
     position: relative;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     padding: .8rem;
     background: var(--main-color);
     border: .2rem solid #eaeaea;
     border-radius: .6rem;
     z-index: 1;
     overflow: hidden;
}

.footer-iconTop a::before {
     content: '';
     position: absolute;
     /* top: 0; */
     /* bottom: 0; */
     /* left: 0; */
     /* right: 0; */
     width: 0;
     height: 100%;
     background: var(--bg-color);
     z-index: -1;
}

.footer-iconTop a:hover::before {
     width: 100%;
     transition: .5s;
}

.footer-iconTop a i {
     font-size: 2.4rem;
     color: #fff;
}

.footer-iconTop a:hover {
     transform: scale(1.1);
     transition: .3s;
}

.footer-iconTop a i:hover {
     transform: scale(1.1);
     transition: .3s;
}





/* Breakpoints */
@media(max-width: 1200px) {
     html {
          font-size: 55%;
     }
}

@media(max-width: 992px) {

     section {
          padding: 10rem 4% 2rem;
     }

     .home {
          padding: 0 4%;
     }

     .footer {
          padding: 2rem 4%;
     }

     /* .parallaks {
          margin-bottom: ;
     } */

     .sec {
          padding: 20px;

     }

     .sec h2 {
          font-size: 2em;
     }

     .parallaks img#starts2 {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
     }

}



@media(max-width:768px) {

     .home-imgHover {
          pointer-events: none;
          background: var(--bg-color);
          opacity: 0.6;
     }


     .fillter-buttons {
          margin: 2.5rem 0;
     }

     .parallaks img#masjid {
          transform: translateY(-5px);
     }
}

@media(max-width: 520px) {
     html {
          font-size: 50%;
     }

     .home-content h1 {
          display: flex;
          flex-direction: column;
     }

     .home-sci {
          width: 160px;
     }

     .home-sci a {
          width: 38px;
          height: 38px;
     }
}

@media(max-width:462px) {
     .home-content {
          display: flex;
          align-items: center;
          flex-direction: column;
          text-align: center;
     }

     .home-content h1 {
          font-size: 5.2rem;
     }

     .contact form .input-box .input-field {
          width: 100%;
     }

     .footer {
          flex-direction: column-reverse;
     }

     .footer p {
          margin-top: 2rem;
          text-align: center;
     }
}

@media(max-width:371px) {
     .home-sci {
          margin: 0;
     }

     .home {
          justify-content: center;
     }

     .home-content {
          display: flex;
          align-items: center;
          flex-direction: column;
          text-align: center;
     }

     .home-content h1 {
          font-size: 5rem;
     }

     .port-content.sekul h3 {
          font-size: 25px;
          font-weight: bold;
          -webkit-text-stroke: #000 1px;
     }
}

/* ------------------------------- Keyframess ------------------------------- */

/* BAGIAN PERGERAKAN TEKS biru */
@keyframes homeBgText {

     0%,
     10%,
     100% {
          background-position: -33rem 0;
     }

     65%,
     85% {
          background-position: 0 0;
     }
}

/* BAGIAN PERGERAKAN TEKS biru */


/* BAGIAN PERGERAKAN Garis TEKS biru */
@keyframes homeCursorText {

     0%,
     10%,
     100% {
          width: 0;
     }

     65%,
     78%,
     85% {
          width: 100%;
          opacity: 1;
     }

     75%,
     81% {
          opacity: 0;
     }
}

/* BAGIAN PERGERAKAN Garis TEKS biru */


@keyframes BulatPutaran {
     100% {
          transform: translate(-50%, -50%) rotate(360deg);
     }
}